### Vehicle Specification Fleet API
### date 23.09.2025
openapi: 3.0.3
info:
  title: Vehicle Specification Fleet
  version: '1.2'
  description: |-
    Vehicle Specification Fleet provides vehicle specification information 
    relevant for fleet use cases.
  contact:
    name: Mercedes-Benz /developers product team
    url: 'https://developer.mercedes-benz.com/contact/vehicle_specification/technical_inquiry'
servers:
  - url: 'https://api.mercedes-benz.com/vehicle_specifications_fleet/v1'
    description: Production server
security:
  - ApiKey: []
tags:
  - name: Specification
    description: Get marketing information
  - name: Images
    description: Get vehicle images
paths:
  '/vehicles/{vehicleId}':
    x-monetized: true
    get:
      tags:
        - Specification
      summary: Get vehicle marketing information
      operationId: getVehicleSpecificationByVehicleId
      description: |-
        Get the vehicle marketing information for a given vehicleId (e.g. FIN) 
        in the specified locale. 
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/additionalSpecs'
        - $ref: '#/components/parameters/optionsNullDescription'
        - $ref: '#/components/parameters/options'
        - $ref: '#/components/parameters/technicalData'
        - $ref: '#/components/parameters/payloadNullValues'
      responses:
        '200':
          $ref: '#/components/responses/VehicleSpecificationsResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /vehicle-images/{vehicleId}:
    x-monetized: false
    get:
      tags:
        - Images
      operationId: GetVehicleImageIdsByVehicleId
      summary: Get Vehicle ImageIds by vehicleId
      description: |-
        Resource provides the 2 exterior and 1 interior images id's. 
        EXT150, EXT330: EXT150 defines a rotation of 150 degrees to the right based 
        on the front view and so forth. INT1 defines the interior perspective.
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/background'
        - $ref: '#/components/parameters/fileFormat'
      responses:
        '200':
          $ref: '#/components/responses/VehicleImagesResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /images/{imageId}:
    x-monetized: false
    get:
      tags:
        - Images
      operationId: GetVehicleImageByImageId
      summary: Get Vehicle Image by imageId
      description: |-
        Resource provides a vehicle image belonging to the given image id in the selected file format. An image Id is valid only for 24 hours.
      parameters:
        - $ref: '#/components/parameters/imageId'
      responses:
        '200':
          $ref: '#/components/responses/VehicleImageIdResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'    
components:
  parameters:
    vehicleId:
      name: vehicleId
      description: The FIN or VIN of one specific vehicle.
      in: path
      required: true
      schema:
        type: string
        minLength: 17
        maxLength: 17
        pattern: '^(4JG|55S|8AC|ADB|LB1|LE4|VSA|XDN|W10|W11|W12|W13|W14|W1A|W1K|W1L|W1M|W1N|W1P|W1R|W1V|W1W|W1X|W1Y|W1Z|W2W|W2X|W2Y|W2Z|WC3|WCD|WD3|WD4|WDA|WDB|WDC|WDD|WDF|WDP|WDR|WDV|WDW|WDX|WDY|WDZ|WME|WMX|WYA)[a-zA-Z0-9]{14}$'
        example: W1K1771871J299999
    locale:
      name: locale
      description: |-
        Market locale for country and language (ISO 3166 countries, ISO 639 languages). 
        Currently supported markets covered in the enum values.
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/Locales'
    optionsNullDescription:
      name: optionsNullDescription
      description: 'Changes response payload and omits option codes with null descriptions (default: omit options without description).'
      in: query
      required: false
      schema:
        type: boolean
        example: true
        default: false
    payloadNullValues:
      name: payloadNullValues
      description: 'Changes response payload and omits attributes with null values (default: provide all attributes).'
      in: query
      required: false
      schema:
        type: boolean
        example: true
        default: true
    options:
      name: options
      description: 'Changes response payload and omits options{} object (default: provide options).'
      in: query
      required: false
      schema:
        type: boolean
        example: true
        default: true
    technicalData:
      name: technicalData
      description: 'Changes response payload and omits technicalData{} object (default: provide technicalData).'
      in: query
      required: false
      schema:
        type: boolean
        example: true
        default: true
    additionalSpecs:
      name: additionalSpecs
      deprecated: true
      description: 'Changes response payload and omits additionalSpecs{} object (default: provide additionalSpecs).'
      in: query
      required: false
      schema:
        type: boolean
        example: true
        default: true
    imageId:
      name: imageId
      in: path
      description: imageId representing a vehicle image.
      required: true
      schema:
        type: string
        format: uuid
    background:
      name: background
      in: query
      description: This optional property defines the images background. The default value is 'no background' (transparent). 
        It is also possible to set the parameter explicitly to true to retrieve 
        the images with a high level of detail and realistic reflections and light incidence.
      required: false
      schema:
        type: boolean
        default: false
    fileFormat:
      name: fileFormat
      in: query
      description: This optional property defines the images format either png, jpeg or webp.
        The default value is the efficient file format webp.
      required: false
      schema:
        type: string
        default: webp
        enum:
          - png
          - jpeg
          - webp
  responses:
    VehicleSpecificationsResponse:
      description: Successful response (OK) containing all relevant marketing information of the requested vehicle.
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VehicleSpecificationResponse'
    VehicleImagesResponse:
      description: 
        Successful response (OK) containing all available imageID's for the requested vehicle images package. 
        The response contains 2 exterior (EXT150, EXT330) and 1 interior (INT1) perspectives.
      headers:
        X-Request-ID:
          description: Returns a randomly generated (unique) request id that was
            assigned to the request for internal tracing and logging. Provide
            this request id for troubleshooting in a support case.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VehicleImagesResponse'
    VehicleImageIdResponse:
      description: Successful response (OK) containing the image in the requested format.
      headers:
        X-Request-ID:
          description: Returns a randomly generated (unique) request id that was
            assigned to the request for internal tracing and logging. Provide
            this request id for troubleshooting in a support case.
          schema:
            type: string
      content:
        image/png:
          schema:
            type: string
            format: binary
        image/jpeg:
          schema:
            type: string
            format: binary
        image/webp:
          schema:
            type: string
            format: binary
    400BadRequest:
      description: |-
        One of the provided parameters was invalid (BAD_REQUEST). 
        Verify your query and inspect the global error object in the response for further information.
        Possible Reasons:
        * Missing or invalid parameter(s)
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    401Unauthorized:
      description: |-
        Authorization failed (UNAUTHORIZED). Verify your apikey and inspect
        the global error object in the response for further information.
          Possible Reasons:
          * Missing or invalid API-Key
          * Invalid URI resource
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    403Forbidden:
      description: |-
        Access to vehicle refused (FORBIDDEN). Inspect the global error object
        in the response for further information.
          Possible Reasons:
          * Exceeded subscription quota
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    404NotFound:
      description: |-
        The requested vehicleId could not be resolved to an existing vehicle
        (NOT_FOUND). Verify the used vehicleId and inspect the global error
        object in the response for further information.
          Possible Reasons:
          * VEHICLE_NOT_FOUND
          * VEHICLE_DATA_NOT_FOUND
          * IMAGE_NOT_FOUND
          * DATA_NOT_FOUND          
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    406NotAcceptable:
      description: |-
        The request and given header values could not be accepted and processing is denied.
          Possible Reasons:
          * Incorrect content negotiation headers
      headers:
        X-Request-ID:
          description: Returns a randomly generated (unique) request id that was
            assigned to the request for internal tracing and logging. Provide
            this request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    429TooManyRequests:
      description: |-
        The service received too many requests in a given amount of time
        (TOO_MANY_REQUESTS). Verify your calling behaviour and inspect the
        global error object in the response for further information.
          Possible Reasons:
          * Exceeded subscription rate limit
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    500InternalServerError:
      description: Server encountered an internal error (INTERNAL_SERVER_ERROR).
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    503ServiceUnavailable:
      description: |-
        Service is currently not available or the requested asset is not ready yet
        (SERVICE_UNAVAILABLE). Please wait and retry the request call later again.
      headers:
        X-Request-ID:
          description: |-
            Returns a randomly generated (unique) request id that was assigned
            to the request for internal tracing and logging. Provide this
            request id for troubleshooting in a support case.
          schema:
            type: string
            format: uuid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    # response schema objects
    VehicleSpecificationResponse:
      description: |-
        The response object contains the vehicle specification data of the
        requested vehicle and locale
      type: object
      properties:
        vehicleData:
          $ref: '#/components/schemas/VehicleData'
    VehicleImagesResponse:
      type: object
      properties:
        EXT150:
          $ref: '#/components/schemas/ImageId'
        EXT330:
          $ref: '#/components/schemas/ImageId'
        INT1:
          $ref: '#/components/schemas/ImageId'
      description: The response object contains the image ids of all available perspectives.
    # specifications schema objects
    AdditionalSpecs:
      type: object
      deprecated: true
      properties:
        allowedTireRimSize:
          type: string
        productSeries:
          type: string
        rimsAxle1:
          type: string
        rimsAxle2:
          type: string
        tire: # Passenger Car
          type: string
        tireData: # Commercial VAN
          type: string
        tiresAxle1:
          type: string
        tiresAxle2:
          type: string
        variant:
          type: string
        vehicleModelDesignation:
          type: string
        version:
          type: string
    CabinInfo:
      type: object
      properties:
        cabinBase:
          $ref: '#/components/schemas/CodeText'
        cabinBottom:
          $ref: '#/components/schemas/CodeText'
        cabinCombined:
          $ref: '#/components/schemas/CodeText'
        cabinType:
          $ref: '#/components/schemas/CodeText'
        cabinWidth:
          $ref: '#/components/schemas/CodeText'
    CodeText:
      type: object
      description: Single equipment code information
      properties:
        code:
          type: string
          minLength: 3
          maxLength: 4
          description: equipment or package code
        text:
          type: string
          maxLength: 80
          description: standard code description
    Emico:
      type: object
      properties:
        approvedUsage:
          type: string
        driveConcept:
          type: string
        legalContext:
          type: string
        rawData:
          type: string
        ruleSetVersionID:
          type: string
        testProcedure:
          type: string
    Emission:
      type: object
      properties:
        combined:
          type: number
        directive:
          type: string
        in:
          type: number
        out:
          type: number
    Engine:
      type: object
      properties:
        battery:
          $ref: '#/components/schemas/EngineBattery'
        cylinderCapacity:
          type: integer
          format: int32
        emission:
          $ref: '#/components/schemas/EngineEmission'
        fuelConsumption:
          $ref: '#/components/schemas/EngineFuelConsumption'
        fuelTankCapacity:
          type: integer
          format: int32
        fuelType:
          $ref: '#/components/schemas/CodeText'
        power:
          $ref: '#/components/schemas/EnginePower'
        range:
          type: integer
          format: int32
        torque:
          type: integer
          format: int32
    EngineBattery:
      type: object
      properties:
        capacity:
          type: integer
          format: int32
        chargingTime:
          type: integer
          format: int32
        type:
          type: string
    EngineEmission:
      type: object
      properties:
        city:
          type: number
        combined:
          type: number
        overland:
          type: number
        unit:
          type: string
    EngineFuelConsumption:
      type: object
      properties:
        city:
          type: number
        combined:
          type: number
        overland:
          type: number
        unit:
          type: string
    EnginePower:
      type: object
      properties:
        kw:
          type: integer
          format: int32
        ps:
          type: integer
          format: int32
    FuelConsumption:
      type: object
      properties:
        combined:
          type: number
        in:
          type: number
        out:
          type: number
    LegacyEquipment:
      type: object
      required:
        - code
      properties:
        code:
          type: string
        codeType:
          type: string
        description:
          type: string
        group:
          type: string
        type:
          type: string
    NewPrice:
      type: object
      properties:
        grossprice:
          type: number
        netprice:
          type: number
        tax:
          type: number
    OptionPackage:
      type: object
      properties:
        code:
          type: string
        text:
          type: string
        options:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 20
          items:
            $ref: '#/components/schemas/LegacyEquipment'
    PackageBasedOptions:
      type: object
      properties:
        optionPackages:
          type: array
          uniqueItems: true
          minItems: 0
          maxItems: 100
          items:
            $ref: '#/components/schemas/OptionPackage'
        options:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/LegacyEquipment'
    SalesDescription:
      type: object
      properties:
        allwheel:
          $ref: '#/components/schemas/CodeText'
        body:
          $ref: '#/components/schemas/CodeText'
        extension:
          $ref: '#/components/schemas/CodeText'
        lengthType:
          $ref: '#/components/schemas/CodeText'
        line:
          $ref: '#/components/schemas/CodeText'
        model:
          $ref: '#/components/schemas/CodeText'
        style:
          $ref: '#/components/schemas/CodeText'
        type:
          $ref: '#/components/schemas/CodeText'
    TechnicalData:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        unit:
          type: string
        value:
          type: string
    TypKey:
      type: object
      properties:
        hsn:
          type: string
        tsn:
          type: string
        vvs:
          type: string
    VehicleData:
      type: object
      properties:
        additionalSpecs:
          $ref: '#/components/schemas/AdditionalSpecs'
        allwheel:
          type: string
        baumuster:
          type: string
        body:
          $ref: '#/components/schemas/CodeText'
        branch:
          type: integer
          format: int32
        brand:
          $ref: '#/components/schemas/CodeText'
        cabin:
          $ref: '#/components/schemas/CodeText'
        cabinInfo:
          $ref: '#/components/schemas/CabinInfo'
        countrynumber:
          type: string
        cylindercapacity:
          type: integer
          format: int32
        emico:
          $ref: '#/components/schemas/Emico'
        emission:
          $ref: '#/components/schemas/Emission'
        emissionstandard:
          $ref: '#/components/schemas/CodeText'
        engineCode:
          type: string
        enginetype:
          $ref: '#/components/schemas/CodeText'
        fin11:
          type: string
        finaldate:
          type: string
        fuel:
          $ref: '#/components/schemas/CodeText'
        fuelconsumption:
          $ref: '#/components/schemas/FuelConsumption'
        function:
          type: string
        leather:
          type: string
        line:
          $ref: '#/components/schemas/CodeText'
        longType:
          description: National sales description of the vehicle
          type: string
        longTypeTechnical:
          description: Language dependent technical vehicle type for Vans
          type: string
        metallic:
          type: string
        model:
          type: string
        modelName:
          type: string
        modelYear:
          type: string
        modelYearYear:
          type: string
        modelrange:
          $ref: '#/components/schemas/CodeText'
        newprice:
          $ref: '#/components/schemas/NewPrice'
        nst:
          type: string
        numberofdoors:
          type: integer
          format: int32
        numberofseats:
          type: integer
          format: int32
        options:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/LegacyEquipment'
        packageBasedOptions:
          $ref: '#/components/schemas/PackageBasedOptions'
        paint:
          $ref: '#/components/schemas/LegacyEquipment'
        paint2:
          $ref: '#/components/schemas/LegacyEquipment'
        poolflag:
          type: string
          enum:
            - P
            - N
        powerkw:
          type: integer
          format: int32
        powerps:
          type: integer
          format: int32
        primaryEngine:
          $ref: '#/components/schemas/Engine'
        productgroup:
          $ref: '#/components/schemas/CodeText'
        salesDescription:
          $ref: '#/components/schemas/SalesDescription'
        secondaryEngine:
          $ref: '#/components/schemas/Engine'
        shippingdate:
          type: string
        shortType:
          type: string
        status:
          type: string
        subcategory:
          $ref: '#/components/schemas/CodeText'
        suspensiontype:
          $ref: '#/components/schemas/CodeText'
        technicalData:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/TechnicalData'
        transmissiontype:
          $ref: '#/components/schemas/CodeText'
        typeclass:
          type: string
        typekey:
          $ref: '#/components/schemas/TypKey'
        upholstery:
          $ref: '#/components/schemas/LegacyEquipment'
        vehicleType:
          type: string
          enum:
            - NEW
            - USED
        vin11:
          type: string
        weight:
          $ref: '#/components/schemas/Weight'
        wheelbase:
          type: integer
          format: int32
        wheelform:
          type: string
    Weight:
      type: object
      properties:
        axis1:
          type: integer
          format: int32
        axis2:
          type: integer
          format: int32
        axis3:
          type: integer
          format: int32
        axis4:
          type: integer
          format: int32
        axis5:
          type: integer
          format: int32
        axis6:
          type: integer
          format: int32
        axislast:
          type: integer
          format: int32
        extended:
          type: integer
          format: int32
        payload:
          type: integer
        total:
          type: integer
          format: int32
        vehicleMassKg:
          type: integer
          format: int32
    # images schema objects
    ImageId:
      type: string
      format: uuid
      description: String representing the image id.    
    # common schema objects
    Locales:
      type: string
      description: |-
        Market locale for country and language used for descriptions 
        (ISO 3166 countries, ISO 639 languages).
      example: de_DE
      enum:
        - ar_OM
        - bg_BG
        - cs_CZ
        - da_DK
        - de_AT
        - de_CH
        - de_DE
        - de_IT
        - el_GR
        - en_AE
        - en_BD
        - en_BE
        - en_BH
        - en_CA
        - en_DO
        - en_DU
        - en_EE
        - en_FI
        - en_GB
        - en_IE
        - en_IL
        - en_KR
        - en_KW
        - en_KZ
        - en_ID
        - en_LK
        - en_LT
        - en_LV
        - en_NL
        - en_NO
        - en_OM
        - en_PH
        - en_PL
        - en_RO
        - en_SL
        - en_US
        - en_XH
        - es_CL
        - es_CR
        - es_DO
        - es_ES
        - es_MX
        - es_PA
        - es_PY
        - et_EE
        - fi_FI
        - fr_CH
        - fr_FR
        - fr_MA
        - he_IL
        - hr_HR
        - hu_HU
        - is_IS
        - it_CH
        - it_IT
        - ko_KR
        - lt_LT
        - lv_LV
        - nl_NL
        - no_NO
        - pl_PL
        - ro_RO
        - ru_KZ
        - sl_SL
        - sr_RS
        - sv_SE
        - uk_UA
    Error:
      type: object
      required:
        - statusCode
      properties:
        statusCode:
          type: string
          minLength: 3
          maxLength: 3
          description: Error status code
        errorMessage:
          type: string
          maxLength: 20
          description: Error code message
        message:
          type: string
          maxLength: 100
          description: Error detailed description
      description: The error object contains detailed information about the error.
  securitySchemes:
    ApiKey:
      type: apiKey
      name: x-api-key
      description: Encrypted key for gateway authentication
      in: header
